{% extends 'base.html.twig' %}

{% block main %}
    <h1>Liste des gateaux</h1>
    <ul>
        {% for cake in cakes %}
            <h2>{{ cakes.title }}</h2>
            <a href=" {{ path ('single_product', {'id': product.id })}}">Voir les détails du produit</a>
            {% if (user.is_admin) %}
            <a href=" {{ path ('delete_product', {'id': product.id })}}">Supprimer le gateaux</a>
            <a href=" {{ path ('update_product', {'id': product.id })}}">Modifer le gateaux</a>
        {%  endfor %}
    </ul>
{% endblock main %}
